{% extends 'base.html.twig' %}

{% block title %}Hello MuscleGroupController!{% endblock %}

{% block body %}
    <h1>Muscle Groups</h1>
    <a href="{{ path('muscle-group_create') }}" class="btn btn-primary">Create Muscle Group</a>
    <ul>
        {% for muscleGroup in muscleGroups %}
            <li>
                {{ muscleGroup.name }}
                <a href="{{ path('muscle_group_exercises', {'id': muscleGroup.id}) }}" class="btn btn-secondary">View Exercises</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}