{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <style>
        .user-table {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .user-table table {
            width: 100%;
            border-collapse: collapse;
        }

        .user-table th, .user-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .user-table th {
            background-color: #f2f2f2;
        }
    </style>

    <div class="user-table">
        <h1>User List</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>

                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>

                    <td>{{ user.email }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No users found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
