{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .user-table {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .user-table table {
            width: 100%;
            border-collapse: collapse;
        }

        .user-table th, .user-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .user-table th {
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container user-table">
        <h1>User List</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                    <div class="btn-group" role="group">
                        <form action="{{ path('list_user_details', { 'id': user.id }) }}" method="GET">
                            <button type="submit" class="btn btn-primary">
                                Show
                            </button>
                        </form>
                    </div>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No users found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}